# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# frontend
frontend/comic-dreams/node_modules
frontend/comic-dreams/dist
frontend/comic-dreams/dist-ssr
frontend/comic-dreams/*.local
frontend/comic-dreams/.next

# Ignore Next.js build files
.next/


# backend
backend/.env
backend/node_modules
backend/dist
backend/env
backend/output
